
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#nav{
  background-color: #f8e8d3;
  padding: 30px 20px;
  height: 100px;
  border: 2px solid #244855;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;

}

.list a{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  transition: all 0.5s ease;
}

.list a:hover{
  font-size: x-large;
}

#nav .list{
  display: flex;
  gap: 10px;
}


#description{
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 40px;
 text-align:center;
 justify-content:center;
}

#description video{
  display:flex;
  height: 700px;
  width: 900px; 
  grid-column: 1/7;
  object-fit: cover;
  margin-bottom: 20px;
}


#description .my_descr{
  margin-top: 10%;
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.my_descr h2{
  font-size: 30px;
  margin-bottom: 20px;
text-align: center;
}

.my_descr p{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 30px;
  text-align: justify;
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.anuska{
  height: 500px;
   grid-column: 7/10;
   grid-row:1/5;
    margin-left: 50px;
   font-size: 1.5em;
   font-weight: bold;
   margin-top: 50%;
}

.anuska h1{
  margin-left: 15px;
  font-size: 2.2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.anuska p{
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  animation: fadeInLeft 2s ease-in-out;
}

#newsfeed{
  margin-left: 80px;
  padding: 30px 20px;
  width: 400px;
  height:auto;
  background-color: #f8e8d3;
  color: #402626;
  grid-column: 7/10;
  grid-row: 2;
}

#newsfeed h2{
  font-size: 20px;
}

.news{
  margin-top: 20px;
}

.news-image{
  width: 356px;
  height: 100px;
  margin-bottom:2% ;
  object-fit: cover;

}

.news ul li{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #244855;
  margin-bottom: 20px;
}

  .news ul li h4{
    font-size: 15px;
  }

  
.news-link {
  box-shadow: #000; 
font-size:1.0em;


}
 


header {
  background-color: #244855;
  color: #f7f4f4;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}



#myhobby{
 margin-top: 60px;
 display: flex;
}
 
 .model{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.hobbymi {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 40px;
  align-items: center;
}

.hobbymi p{
  margin-top: 30px; 
  font-size: 1.8em;
  text-align: center;
  
}
#myhobby .model {
  height: 25%;
  border-radius: 30%;
  margin-left: 50px;
  margin-bottom:50px;

}


.hobby-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color:#000;
}

li.hobby-item {
  background-color:#FBE9D0;
  padding: 15px;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  

text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  width: 18%;
}

li.hobby-item:hover {
  transform: scale(1.1);
  background-color: #4CAF50;
  color: white;
}

.hobbydescr{
  margin: 4%  20%;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  
}


.hobby-gallery {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  width: 100%;

}

.hobby-gallery img {
  width: 30%;
  height: 10%;
  margin: 10px;
  border-radius: 30px;
  transition: transform 0.3s;
  object-fit: cover;
}

.hobby-gallery img:hover {
  transform: scale(1.05);
}

.hobby-gallery h2{
  color:#000
}

.hidden {
  display: none;
}




 #schedule{
  display: flex;
  align-items: center;
  flex-direction: column;

}

#schedule ol li  {
  
  margin-bottom: 8%;
  font-size:1.5em ;
}

#schedule h2{
  margin: 10% 0% 2% 0%;
  background-color: #244855;
  color:#f7f4f4;
  border-radius: 2%;
  padding: 1% 6%;
 
}
#schedule .study-table{
  
  width: 100%;
  height: 200px;
  margin-bottom: 15%;
  
}
#schedule .study-table, tr, td, th{
  text-align: center;
}



.music-container{
  display: grid;
  padding: 30px 20px;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  gap: 100px;
  margin: -2% 5% ;
}

.page-title{
  background-color: #244855;
  color: #f7f4f4;
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.music-container h3{
 padding: 10px 0;
 margin-bottom: 10px;
}

.music-container p{
  margin-bottom: 20px;
}
.music-container .music-one{
  grid-column: 1/4;
}

.music-container .music-two{
  grid-column: 4/7;
}

.music-container .music-three{
  grid-column: 7/10;
}

.music-container .music-four{
  grid-column: 1/4;
}

.music-container .music-five{
  grid-column: 4/7;
}

.music-container .music-six{
  grid-column: 7/10;
}

.music-container video{
  width: 100%;
}


#house{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

#house table, tr, th, td{
    border: 1px solid;
    width: 30%;
    height: 80px;
}


 
footer {
  background-color:#f8e8d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  border: 2px solid #244855;
  
}

footer h1{
  font-size: 20px;
  margin-bottom: 20px;
  
}

footer a{
  margin-top: 10px;
  margin-bottom: 5px;  
  text-decoration: none;
  color: #000;

  
  
}

footer a:hover{
   box-shadow: #000; 
  font-size: larger;
  
}